.nav {
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  padding-block: 0.5rem;
  background-color: transparent;
  transition: 0.3s ease;
  z-index: 999;
}

.nav.active {
  padding: 0.9rem;
  z-index: 999;
  background-color: white;
  color: var(--color-accent-dark);
}

.left img {
  width: 20px;
  height: 20px;
}

.nav-profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-info-container {
  position: relative;
}

.dropdown {
  gap: 0.2rem;
  display: grid;
  padding: 1rem;
  bottom: -62px;
  position: absolute;
  width: max-content;
  border-radius: 1rem;
  margin-inline-end: 3rem;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.8s ease;
}

.logged-in-container:where(:hover) .dropdown {
  opacity: 1;
  pointer-events: auto;
}
