.room-details .nav {
  color: lightslategray;
}

.room-details .nav.active {
  color: var(--color-accent);
}

.room-details .nav .user-info-container p {
  color: lightslategray !important;
}

.room-details .nav.active .user-info-container p {
  color: var(--color-accent) !important;
}

.room-details .nav.active .nav-links-container a {
  color: var(--color-accent);
}

.room-details-breadcrumb {
  margin-block-start: 4rem;
}

.room-details-hero-img-container {
  margin-block-start: 1rem;
}

.room-details-hero-img-container img {
  height: 433px;
  width: 700px;
  border-radius: 1rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.images-grid {
  gap: 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-block-start: 1rem;
}

.images-grid img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.images-grid img:where(:hover) {
  opacity: 1;
  transform: translateY(-1px);
}

.type-stats {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.type-stats p {
  width: max-content;
  padding: 0.3rem 1rem;
  margin-block: 2rem;
  border-radius: 200px;
  color: var(--color-accent-dark);
  background-color: rgb(255, 228, 187);
}

.spec {
  max-width: 90ch;
  font-size: 1rem;
  font-weight: 100;
  color: lightslategray;
  letter-spacing: 0.4px;
  margin-block-start: 0.5rem;
  font-family: var(--ff-sub);
}

.amenities-grid {
  display: grid;
  max-width: 600px;
  font-size: 1rem;
  color: lightslategray;
  font-family: var(--ff-sub);
  grid-template-columns: 1fr 1fr;
}

.room-details-divider {
  display: grid;
  grid-template-columns: 800px 1fr;
}

.right-room-details form {
  width: 435px;
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

form h2 {
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
  padding-block-end: 1.5rem;
  font-family: var(--ff-sub);
  border-block-end: 1px solid lightslategray;
}

form h2 span {
  font-size: 0.7rem;
  color: lightgray;
}
.form-groups-container {
  margin-block-start: 0.5rem;
}
.form-groups-container input {
  width: 200px;
}

.guest-label {
  margin-block-start: 0.5rem;
}

.room-details-select {
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid lightslategray;
}

.right-room-details .form-group input {
  width: 100%;
}

.flow > * + * {
  margin-block-start: 1rem;
}

.room-details form button {
  width: 80%;
  color: white;
  display: flex;
  font-weight: 800;
  text-align: center;
  margin-inline: auto;
  border-radius: 0.5rem;
  justify-content: center;
  margin-block-start: 0.5rem;
  background-color: var(--color-accent);
}
